<div id="<%= dom_id dog %>">
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= dog.breed %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= dog.age %>
  </p>

  <p><strong>Owner(s):</strong>
      <% if dog.owners.any? %>
        <%= dog.owners.map { |owner| link_to owner.name, owner_path(owner) }.join(", ").html_safe %>
      <% else %>
        No owners listed
      <% end %>
    </p>

</div>
