<%= form_with(model: cat_ownership) do |form| %>
  <% if cat_ownership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cat_ownership.errors.count, "error") %> prohibited this cat_ownership from being saved:</h2>

      <ul>
        <% cat_ownership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cat_id, style: "display: block" %>
    <%= form.text_field :cat_id %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
