<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= cat.breed %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cat.age %>
  </p>

  <p><strong>Owner(s):</strong>
    <% if cat.owners.any? %>
        <%= cat.owners.map { |owner| link_to owner.name, owner_path(owner) }.join(", ").html_safe %>    <% else %>
      No owners listed
    <% end %>
  </p>

</div>
